@media (min-width: 576px) and (max-width: 991.98px) {
    .kama_breadcrumbs {
      display: block; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .entry-title, .woocommerce-products-header__title {
      font-size: 20px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .project-anons-block {
      border: 1px solid rgba(0, 0, 0, 0.2);
      margin-bottom: 40px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .header-wrapper .sticky-row {
      opacity: 0; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .header-wrapper .sticky-row .header__logotype {
        max-width: 130px;
        max-height: 100%;
        height: 40px;
        margin: 10px 0;
        -webkit-transition: max-width linear .25s, height linear .25s;
        transition: max-width linear .25s, height linear .25s; } }

@media (min-width: 576px) and (max-width: 991.98px) {
        .header-wrapper .sticky-row .header__logotype.mode__fixed-row {
          max-width: 90px;
          height: 25px;
          -webkit-transition: max-width linear .25s, height linear .25s;
          transition: max-width linear .25s, height linear .25s; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .header-wrapper .feedback-row {
      margin-top: 90px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .header-wrapper .feedback-row .feedback-col {
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between; } }

@media (min-width: 576px) and (max-width: 991.98px) {
        .header-wrapper .feedback-row .feedback-col .feedback-cell {
          margin: 0; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .footer-wrapper .footer-btn {
        width: 165px;
        margin: 0; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .footer-wrapper .footer-row .footer-subrow._1 {
        padding-bottom: 20px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
        .footer-wrapper .footer-row .footer-subrow._2 .footer-list-wrap:before {
          display: none; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .footer-wrapper .footer-row .footer-subrow .footer-contact-col {
        padding-left: 0; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .footer-wrapper .contact-list {
        margin-bottom: 20px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
        .footer-wrapper .contact-list._address a[href*="mailto:"] {
          text-decoration: underline; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .footer-wrapper .footer-list {
        padding-left: 15px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .feedback-call-btn {
      width: 100%;
      margin: 10px auto; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .copyright__footer {
      margin-top: 10px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .footer-cell {
      margin-bottom: 10px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .footer-cell.copyright_author-site {
        text-align: left; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .main-row {
      padding: 20px 0; } }

@media (min-width: 576px) and (max-width: 991.98px) {
  .slider-row {
    padding: 40px 0 0; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .slider-row .main-slider {
      height: 300px;
      padding: 30px 0 0; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .slider-row .main-slider .slide {
        height: 300px;
        display: -webkit-box !important;
        display: -ms-flexbox !important;
        display: flex !important;
        -webkit-box-align: end;
            -ms-flex-align: end;
                align-items: flex-end; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .slider-row .main-slider .slide .slide-img {
        height: 80%;
        margin: 0 auto; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .slider-row .main-slider .slide .slide-img img {
        width: auto;
        height: 100%;
        display: block;
        margin: 0 auto; } }

@media (min-width: 576px) and (max-width: 991.98px) {
        .slider-row .main-slider .slide .slide-text {
          height: auto;
          text-align: center;
          width: 100%; } }

@media (min-width: 576px) and (max-width: 991.98px) {
          .slider-row .main-slider .slide .slide-text p {
            position: static;
            margin: 0 auto;
            max-width: 350px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
        .slider-row .main-slider .slide .slide-button {
          right: 40%;
          bottom: 10%; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .slider-row .main-slider .slick-dots {
        margin-bottom: 0; } }

@media (min-width: 576px) and (max-width: 991.98px) {
        .slider-row .main-slider .slick-dots li button {
          -webkit-transform: scale(0.8, 0.8);
                  transform: scale(0.8, 0.8); } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .special-row {
      padding: 20px 0 0; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .special-row .container-fluid {
      max-width: 720px; } }

@media (min-width: 576px) and (max-width: 991.98px) and (max-width: 767.98px) {
    .special-row .container-fluid {
      max-width: 540px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .special-row .sertificate-list-wrap {
        float: none;
        width: 100%;
        padding-top: 0;
        margin-right: 0; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .contacts-row .contacts-row-bg {
        background-position: center left; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .contacts-row .contact-main-col {
        margin-bottom: 20px;
        padding-left: 40px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .contacts-row .contact-main-col:first-child, .contacts-row .contact-main-col:last-child {
        padding-left: 15px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .contacts-row .contact-main-col:last-child {
        padding-left: 15px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .map-row {
      padding: 0; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .certificates-wrapper .certificate-block {
      margin-bottom: 40px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .special-row .img-fancybox {
      height: auto !important; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .single .stock-footer .stocks-list-wrap {
      padding-left: 15px;
      padding-right: 15px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
  .map-block {
    height: 400px !important;
    margin-top: 30px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .page-body-container._row-2 {
        padding-bottom: 80px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .service-block {
      width: 100%;
      height: 225px; } }

@media (min-width: 576px) and (max-width: 991.98px) and (max-width: 767.98px) {
    .service-block {
      max-width: 400px;
      max-height: 245px;
      margin: 10px auto; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .service-block .service-block-text {
        top: 15%; } }

@media (min-width: 576px) and (max-width: 991.98px) and (max-width: 767.98px) {
    .service-block .service-block-text {
      top: 20%; } }

@media (min-width: 576px) and (max-width: 991.98px) {
        .service-block .service-block-text .service-block-title {
          font-size: 20px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .service-sidebar-list, .sidebar-list {
      padding: 20px 10px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .service-sidebar-list .sidebar-title, .sidebar-list .sidebar-title {
        font-size: 20px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .service-sidebar-list li, .sidebar-list li {
        padding-left: 10px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
        .service-sidebar-list li a, .sidebar-list li a {
          font-size: 12px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .service-footer-form {
      padding: 25px 20px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .service-footer-form p {
        line-height: 1.2; } }

@media (min-width: 576px) and (max-width: 991.98px) and (max-width: 767.98px) {
    .service-footer-form p {
      text-align: left; } }

@media (min-width: 576px) and (max-width: 991.98px) and (max-width: 767.98px) {
  .service-footer-form .service-btn-form {
    width: auto;
    margin-top: 10px; } }

@media (min-width: 576px) and (max-width: 991.98px) and (max-width: 767.98px) {
  .service-footer-form .service-footer-form-col {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start; } }

@media (min-width: 576px) and (max-width: 991.98px) and (max-width: 767.98px) {
  .service-footer-form .service-footer-form-list {
    margin: 10px auto; } }

@media (min-width: 576px) and (max-width: 991.98px) {
          .service-footer-form .service-footer-form-list li a[href*="tel:"] {
            font-size: 14px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .service-footer-form .service-footer-form-text {
        height: 50px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
        .service-footer-form .service-footer-form-text p {
          font-size: 14px; } }

@media (min-width: 576px) and (max-width: 991.98px) and (max-width: 767.98px) {
  .service-footer-form .service-footer-form-text {
    height: auto; } }

@media (min-width: 576px) and (max-width: 991.98px) and (max-width: 767.98px) {
  .post-thumbnail .attachment-post-thumbnail {
    width: auto; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .archive-wrapper .entry-content {
      margin-bottom: 20px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .archive-wrapper._row-specialnye-akcii .entry-header .entry-title {
      margin: 20px 0; } }

@media (min-width: 576px) and (max-width: 991.98px) and (max-width: 767.98px) {
  .archive-wrapper._row-primery-nashih-rabot .images-gallery {
    margin-bottom: 50px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .archive-wrapper._row-primery-nashih-rabot .images-gallery .images-thumbnail-src {
      height: 230px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
        .single .entry-gallery .gallery-block .images-thumbnail-src-small {
          display: block;
          margin: 0 auto; } }

@media (min-width: 576px) and (max-width: 991.98px) and (max-width: 767.98px) {
  .single .entry-footer .entry-footer-col._button {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; } }

@media (min-width: 576px) and (max-width: 991.98px) {
  .single .stock-footer {
    max-width: 720px;
    margin: 0 auto; } }

@media (min-width: 576px) and (max-width: 991.98px) and (max-width: 767.98px) {
    .single .stock-footer {
      max-width: 540px;
      margin: 0 auto; } }

@media (min-width: 576px) and (max-width: 991.98px) {
  .single .stock-footer .container {
    padding-left: 15px !important;
    padding-right: 15px !important; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      ._stocks-list .stocks-list-wrap .entry-title {
        margin-left: 0; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    ul.other-stock {
      margin-left: 0;
      width: 100%; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    a#download-price-list {
      width: 150px;
      line-height: 1.5em;
      font-size: 12px;
      padding: 8px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .catalog-wrapper .products .product {
        width: 47.5% !important;
        margin-right: 2.5% !important;
        height: auto; } }

@media (min-width: 576px) and (max-width: 991.98px) {
        .catalog-wrapper .products .product .woocommerce-loop-product__title {
          font-size: 14px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
    .related.products .products {
      display: table; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .products .product .woocommerce-loop-product__title, .products .product .woocommerce-loop-category__title {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        padding-left: 10px;
        padding-right: 10px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .product .woocommerce-product-gallery .woocommerce-product-gallery__image a img {
        width: 85%;
        height: auto; } }

@media (min-width: 576px) and (max-width: 991.98px) {
        .product .woocommerce-tabs .tabs li {
          width: 150px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
          .product .woocommerce-tabs .tabs li a {
            font-size: 12px;
            padding: 8px;
            height: 100%;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-align: center;
                -ms-flex-align: center;
                    align-items: center;
            -webkit-box-pack: center;
                -ms-flex-pack: center;
                    justify-content: center; } }

@media (min-width: 576px) and (max-width: 991.98px) {
  .product .woocommerce-Tabs-panel ul.products .product {
    margin: 0 auto !important; } }

@media (min-width: 576px) and (max-width: 991.98px) {
        .product .woocommerce-description .cart-wrap .vkenergy_button {
          padding: 10px 15px;
          float: left; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .blockUI.blockPage .awooc-form-custom-order {
        display: block;
        width: 90%;
        margin: 0 auto; } }

@media (min-width: 576px) and (max-width: 991.98px) {
        .sticky-row.__mobile .form-mobile .search-form {
          margin: 10px 15px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
          .cookcodesmenu-bar .cookcodesmenu_menu .cookcodesmenu_brand + .form-mobile {
            top: 3px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .cookcodesmenu-bar .cookcodesmenu_menu .cookcodesmenu_nav ul.sub-menu > li > a {
        padding-left: 45px; } }

@media (min-width: 576px) and (max-width: 991.98px) {
      .cookcodesmenu-bar .cookcodesmenu_menu .cookcodesmenu_nav ul.sub-menu > li > ul.sub-menu > li.menu-item > a {
        padding-left: 70px; } }

